<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>x_request_id</includeMdcKeyName>
        </encoder>
    </appender>

	<appender name="secure_log" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>team-logs.nais-system:5170</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>
                {"google_cloud_project":"${GOOGLE_CLOUD_PROJECT}","nais_namespace_name":"${NAIS_NAMESPACE}","nais_pod_name":"${NAIS_POD_NAME}","nais_container_name":"${NAIS_APP_NAME}"}
            </customFields>
            <includeContext>false</includeContext>
        </encoder>
    </appender>

    <logger name="securelog" level="INFO" additivity="false">
        <appender-ref ref="secure_log" />
    </logger>

    <root level="INFO">
        <appender-ref ref="stdout_json"/>
    </root>

    <logger name="no.nav" level="INFO"/>
    <logger name="org.apache.kafka" level="WARN"/>

</configuration>
